<div *ngIf="room">
    <div *ngIf="!correctDefinition" class="main_container">
        <div *ngIf="finished">
            Aguarde os outros jogadores terminarem de votar
        </div>
        <div *ngIf="!finished" class="title">
            Tente escolher a definição correta
        </div>
        <div *ngIf="!finished" class="options_container">
            <div *ngFor="let definition of getDefinitions()" (click)="selectDefinition(definition.text)"
                [class.definition_selected]="definition.text == selectedDefinitionText" class="definition_container">
                {{room.word}}: {{definition.text}}
            </div>
        </div>
        <div style="margin-top: 12px;">
            <button mat-button class="default_button" *ngIf="selectedDefinitionText != '' && !finished"
                (click)="finish()">Pronto!</button>
        </div>
    </div>
    <div *ngIf="correctDefinition">
        <h2>Parabéns!! Você escreveu a definição correta!!</h2>
        Você já ganhou pontos e agora só precisa aguardar os outros jogadores votarem.
    </div>

</div>