<div *ngIf="room">

    <div *ngIf="!votedCorrect() && getMeAtRoom().votedUserName" class="bad news">
        Você votou na definição de {{getMeAtRoom().votedUserName}}
    </div>
    <div *ngIf="!getMeAtRoom().votedUserName" class="bad news">
        Você não votou em ninguém
    </div>
    <div *ngIf="votedCorrect()" class="good news">
        Você votou na definição correta! <b>+1pt</b>
    </div>

    <div *ngIf="getVoters(getMeAtRoom().name).length > 1" class="good news">
        {{getVoters(getMeAtRoom().name).length}} jogadores votaram em você!
        <b>+{{getVoters(getMeAtRoom().name).length}}pts</b>
    </div>
    <div *ngIf="getVoters(getMeAtRoom().name).length == 1" class="good news">
        {{getVoters(getMeAtRoom().name)[0].name}} votou em você!
        <b>+1pt</b>
    </div>
    <div *ngIf="getVoters(getMeAtRoom().name).length <= 0" class="bad news">
        Ninguém votou na sua definição
    </div>

    <div>
        <table>

            <tr *ngFor="let definition of getOrderedDefinitions()">
                <td *ngIf="definition.userName != 'Definição Correta'">
                    <div>
                        <img [src]="definition.userImgUrl" class="avatar_little" />
                    </div>
                    <div>
                        {{definition.userName}}
                    </div>

                </td>
                <td *ngIf="definition.userName == 'Definição Correta'">
                    <div>
                        <mat-icon style="color: green;">
                            star
                        </mat-icon>
                    </div>
                    <div>
                        Correta
                    </div>
                </td>
                <td>
                    {{room.word}}: {{definition.text}}
                    <div class="voters_container">
                        {{getVoters(definition.userName).length}} Voto(s):
                        <span *ngIf="getVoters(definition.userName).length <= 0">
                            -
                        </span>
                        <span *ngFor="let voter of getVoters(definition.userName)">
                            {{voter.name}};
                        </span>
                    </div>
                </td>
            </tr>

        </table>
    </div>


</div>