<div *ngIf="room">

    <div>
        Você votou em {{getMyVotedUserName()}}
    </div>

    <div>
        <table>
            <tr>
                <td>Criador</td>
                <td>Definição</td>
                <td>Votos</td>
            </tr>
            <tr *ngFor="let definition of room.definitions">
                <td>{{definition.userName}}</td>
                <td>{{definition.text}}</td>
                <td>
                    <div *ngFor="let voter of getVoters(definition.userName)">
                        {{voter.name}}
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>