.countdown_bar_container{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    width: 100%;
    background-color: var(--secondary);
}
.countdown_bar{
    height: 20px; background-color: var(--primary); 
    transition: all 1s linear; 
    transform-origin: top left; 
    width: 100%;
}
.countdown_bar_danger{
    background-color: var(--danger);
}

.step_container{
    background-color: rgba(245, 245, 245, 0.315);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 310px;
    overflow: auto;
    word-break: break-all;
    transition: all 0.5s linear; 
}
.step_container_caution{
    background-color: rgba(255, 238, 4, 0.212);

}

.room_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    box-sizing: border-box;

}

.room_top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.main_content{
    margin-top: 70px;
}

.bottom_container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: 300px;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
}

.users_container{
    width: 50%;
    padding-left: 3px;
    padding-right: 3px;    
    box-sizing: border-box;
}
.user_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    box-sizing: border-box;
    background-color: var(--secondary);
    color: var(--secondary-contrast);
    border-radius: 5px;
    transition: all 10s linear; 
    margin-bottom: 3px;
}
.user_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.user_block>div{
    margin-right: 6px;
    line-height: 1;
}

.chat_container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.055);
    width: 50%;
    height: fit-content;
}

.messages_container{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    background-color: var(--secondary);
    height: 150px;
    overflow: auto;
    word-break: normal;
    margin-bottom: 10px;
}

.send_message_button{
    color: gray;
}


.inactive_user{
    background-color: var(--danger-transp);
}

.send_message_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.send_message_container input{
    width: 100%;
}