<div class="main_container">
    <h2>Configurações da Sala</h2>
    <div>
        Escrever definição:
        <input type="number" [(ngModel)]="room.maxTimeStep1" class="default_input short_input" />
        segs
    </div>
    <div>
        Votar em definição:
        <input type="number" [(ngModel)]="room.maxTimeStep2" class="default_input short_input " />
        segs
    </div>
    <div>
        Visualizar resultados:
        <input type="number" [(ngModel)]="room.maxTimeStep3" class="default_input short_input" />
        segs
    </div>

    <button mat-button class="default_button" (click)="save()">Salvar</button>

</div>
<button mat-icon-button mat-dialog-close class="btn_dialog_close">
    <mat-icon>cancel</mat-icon>
</button>