
  /* :root {
    --primary: black;
    --primary-transp: rgba(0, 0, 0, 0.7);
    --primary-contrast: rgb(255, 255, 255);
    --secondary: whitesmoke;
    --secondary-contrast: black;
    --danger: rgb(148, 60, 60);
    --danger-transp: rgba(148, 60, 60, 0.7);
    --danger-contrast: rgb(255, 255, 255);
    --caution: rgba(168, 168, 38, 0.178); 
    --happy: rgb(45, 105, 45);
    --happy-contrast: white;
  } */

  :root {
    --primary: rgb(0, 174, 255);
    --primary-transp: rgba(0, 174, 255, 0.7);
    --primary-contrast: rgb(255, 255, 255);
    --secondary: whitesmoke;
    --secondary-contrast: black;
    --danger: rgb(248, 113, 113);
    --danger-transp: rgba(248, 113, 113, 0.7);
    --danger-contrast: rgb(255, 255, 255);
    --caution: rgba(255, 255, 0, 0.178);  
    --happy: lightgreen;
    --happy-contrast: black;  
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography{
    height: fit-content !important;
}
.avatar_little{
    height: 20x;
    width: 20px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_medium{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_big{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid gray;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.default_input{
    background-color: rgba(255, 255, 255, 0.671);
    border: none;
    outline: none;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.13);
}
.default_input:focus{
    border: 1px solid gray;
}

.default_button{
    background-color: var(--primary);
    color: var(--primary-contrast);
    padding: 10px;
    font-size: 16px;
}

.danger_button{
    background-color: var(--danger);
    color: var(--danger-contrast);
}

.mat-dialog-container{
    position: relative;
}

.btn_dialog_close{
    position: absolute !important;
    top: 0px;
    right: 0px;
    color: gray;
    opacity: 0.6;
}