/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.avatar_pequeno{
    height: 20x;
    width: 20px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_medio{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_grande{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid gray;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.default_input{
    background-color: rgba(255, 255, 255, 0.562);
    border: none;
    outline: none;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 4px;
}
.default_input:focus{
    border: 1px solid gray;
}

.default_button{
    background-color: lightblue;
    padding: 10px;
    font-size: 16px;
}