/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.countdown_container{
    position: fixed;
    right: 50%;
    top: 2px;
    padding: 4px;
    box-sizing: border-box;
    font-size: 23px;
}

.avatar_pequeno{
    height: 20x;
    width: 20px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_medio{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}

.avatar_grande{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid gray;
}