<div *ngIf='!fireService.user'>
    <app-loading></app-loading>
</div>

<div *ngIf='fireService.user' class='main_container'>
    <div (click)="chooseImg()" style="cursor: pointer;" class="img_container">
        <img [src]="fireService.user.imgUrl" class="avatar_big">
        <mat-icon class="edit_img_symbol">edit</mat-icon>
    </div>
    <div>
        <input [(ngModel)]="fireService.user.name" maxlength="9" placeholder="Meu nickname" type="text" />
    </div>
    <div>
        <button mat-button (click)="done()">Pronto!</button>
    </div>

</div>
<button mat-icon-button mat-dialog-close class="btn_dialog_close">
    <mat-icon>cancel</mat-icon>
</button>